{
  "swagger": "2.0",
  "info": {
    "version": "v3",
    "title": "YouTube Data API v3",
    "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    }
  },
  "host": "youtube.googleapis.com",
  "basePath": "/",
  "securityDefinitions": {
    "Oauth2": {
      "type": "oauth2",
      "description": "Oauth 2.0 implicit authentication",
      "flow": "implicit",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "scopes": {
        "https://www.googleapis.com/auth/youtube": "Manage your YouTube account",
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": "See a list of your current active channel members, their current level, and when they became a member",
        "https://www.googleapis.com/auth/youtube.force-ssl": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions",
        "https://www.googleapis.com/auth/youtube.readonly": "View your YouTube account",
        "https://www.googleapis.com/auth/youtube.upload": "Manage your YouTube videos",
        "https://www.googleapis.com/auth/youtubepartner": "View and manage your assets and associated content on YouTube",
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
      }
    },
    "Oauth2c": {
      "type": "oauth2",
      "description": "Oauth 2.0 authorizationCode authentication",
      "flow": "accessCode",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "tokenUrl": "https://accounts.google.com/o/oauth2/token",
      "scopes": {
        "https://www.googleapis.com/auth/youtube": "Manage your YouTube account",
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": "See a list of your current active channel members, their current level, and when they became a member",
        "https://www.googleapis.com/auth/youtube.force-ssl": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions",
        "https://www.googleapis.com/auth/youtube.readonly": "View your YouTube account",
        "https://www.googleapis.com/auth/youtube.upload": "Manage your YouTube videos",
        "https://www.googleapis.com/auth/youtubepartner": "View and manage your assets and associated content on YouTube",
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
      }
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/youtube/v3/abuseReports": {
      "post": {
        "description": "Inserts a new resource into this collection.",
        "summary": "youtube.abuseReports.insert",
        "tags": [
          "abuseReports"
        ],
        "operationId": "youtube.abuseReports.insert",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "part",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/AbuseReport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AbuseReport"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          }
        ]
      }
    },
    "/youtube/v3/activities": {
      "get": {
        "description": "Retrieves a list of resources, possibly filtered.",
        "summary": "youtube.activities.list",
        "tags": [
          "activities"
        ],
        "operationId": "youtube.activities.list",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "part",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The *part* parameter specifies a comma-separated list of one or more activity resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in an activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set *part=snippet*, the API response will also contain all of those nested properties."
          },
          {
            "name": "channelId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "home",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": ""
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0.0,
            "maximum": 50.0,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
          },
          {
            "name": "mine",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": ""
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
          },
          {
            "name": "publishedAfter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "publishedBefore",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "regionCode",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ActivityListResponse"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.readonly"
            ]
          }
        ]
      }
    },
    "/youtube/v3/captions": {
      "delete": {
        "description": "Deletes a resource.",
        "summary": "youtube.captions.delete",
        "tags": [
          "captions"
        ],
        "operationId": "youtube.captions.delete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "onBehalfOf",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ID of the Google+ Page for the channel that the request is be on behalf of"
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {}
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtubepartner"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      },
      "get": {
        "description": "Retrieves a list of resources, possibly filtered.",
        "summary": "youtube.captions.list",
        "tags": [
          "captions"
        ],
        "operationId": "youtube.captions.list",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "part",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet."
          },
          {
            "name": "videoId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Returns the captions for the specified video."
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Returns the captions with the given IDs for Stubby or Apiary."
          },
          {
            "name": "onBehalfOf",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ID of the Google+ Page for the channel that the request is on behalf of."
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CaptionListResponse"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtubepartner"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      },
      "post": {
        "description": "Inserts a new resource into this collection.",
        "summary": "youtube.captions.insert",
        "tags": [
          "captions"
        ],
        "operationId": "youtube.captions.insert",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "text/xml"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "part",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The *part* parameter specifies the caption resource parts that the API response will include. Set the parameter value to snippet."
          },
          {
            "name": "onBehalfOf",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ID of the Google+ Page for the channel that the request is be on behalf of"
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          },
          {
            "name": "sync",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "text/xml"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Caption"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Caption"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtubepartner"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      },
      "put": {
        "description": "Updates an existing resource.",
        "summary": "youtube.captions.update",
        "tags": [
          "captions"
        ],
        "operationId": "youtube.captions.update",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "text/xml"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "part",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet."
          },
          {
            "name": "onBehalfOf",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ID of the Google+ Page for the channel that the request is on behalf of."
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          },
          {
            "name": "sync",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "text/xml"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Caption"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Caption"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtubepartner"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      }
    },
    "/youtube/v3/captions/{id}": {
      "get": {
        "description": "Downloads a caption track.",
        "summary": "youtube.captions.download",
        "tags": [
          "captions"
        ],
        "operationId": "youtube.captions.download",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the caption track to download, required for One Platform."
          },
          {
            "name": "onBehalfOf",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "ID of the Google+ Page for the channel that the request is be on behalf of"
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          },
          {
            "name": "tfmt",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Convert the captions into this format. Supported options are sbv, srt, and vtt."
          },
          {
            "name": "tlang",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "tlang is the language code; machine translate the captions into this language."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {}
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtubepartner"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      }
    },
    "/youtube/v3/channelBanners/insert": {
      "post": {
        "description": "Inserts a new resource into this collection.",
        "summary": "youtube.channelBanners.insert",
        "tags": [
          "channelBanners"
        ],
        "operationId": "youtube.channelBanners.insert",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "channelId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Unused, channel_id is currently derived from the security context of the requestor."
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          },
          {
            "name": "onBehalfOfContentOwnerChannel",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/octet-stream"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "formData",
            "required": false,
            "type": "file",
            "format": "file",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ChannelBannerResource"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.upload"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.upload"
            ]
          }
        ]
      }
    },
    "/youtube/v3/channels": {
      "get": {
        "description": "Retrieves a list of resources, possibly filtered.",
        "summary": "youtube.channels.list",
        "tags": [
          "channels"
        ],
        "operationId": "youtube.channels.list",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "part",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The *part* parameter specifies a comma-separated list of one or more channel resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channel resource, the contentDetails property contains other properties, such as the uploads properties. As such, if you set *part=contentDetails*, the API response will also contain all of those nested properties."
          },
          {
            "name": "categoryId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return the channels within the specified guide category ID."
          },
          {
            "name": "forUsername",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return the channel associated with a YouTube username."
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX)."
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Return the channels with the specified IDs."
          },
          {
            "name": "managedByMe",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Return the channels managed by the authenticated user."
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 0.0,
            "maximum": 50.0,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
          },
          {
            "name": "mine",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Return the ids of channels owned by the authenticated user."
          },
          {
            "name": "mySubscribers",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Return the channels subscribed to the authenticated user"
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ChannelListResponse"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtubepartner"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtubepartner-channel-audit"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtubepartner-channel-audit"
            ]
          }
        ]
      },
      "put": {
        "description": "Updates an existing resource.",
        "summary": "youtube.channels.update",
        "tags": [
          "channels"
        ],
        "operationId": "youtube.channels.update",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "part",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The API currently only allows the parameter value to be set to either brandingSettings or invideoPromotion. (You cannot update both of those parts with a single request.) Note that this method overrides the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies."
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The *onBehalfOfContentOwner* parameter indicates that the authenticated user is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with needs to be linked to the specified YouTube content owner."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/Channel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Channel"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtubepartner"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      }
    },
    "/youtube/v3/channelSections": {
      "delete": {
        "description": "Deletes a resource.",
        "summary": "youtube.channelSections.delete",
        "tags": [
          "channelSections"
        ],
        "operationId": "youtube.channelSections.delete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {}
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtubepartner"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      },
      "get": {
        "description": "Retrieves a list of resources, possibly filtered.",
        "summary": "youtube.channelSections.list",
        "tags": [
          "channelSections"
        ],
        "operationId": "youtube.channelSections.list",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "part",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The *part* parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the channelSection. If you set *part=snippet*, the API response will also contain all of those nested properties."
          },
          {
            "name": "channelId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return the ChannelSections owned by the specified channel ID."
          },
          {
            "name": "hl",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Return content in specified language"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Return the ChannelSections with the given IDs for Stubby or Apiary."
          },
          {
            "name": "mine",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Return the ChannelSections owned by the authenticated user."
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ChannelSectionListResponse"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtubepartner"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      },
      "post": {
        "description": "Inserts a new resource into this collection.",
        "summary": "youtube.channelSections.insert",
        "tags": [
          "channelSections"
        ],
        "operationId": "youtube.channelSections.insert",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "part",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails."
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          },
          {
            "name": "onBehalfOfContentOwnerChannel",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ChannelSection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ChannelSection"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtubepartner"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      },
      "put": {
        "description": "Updates an existing resource.",
        "summary": "youtube.channelSections.update",
        "tags": [
          "channelSections"
        ],
        "operationId": "youtube.channelSections.update",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "part",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails."
          },
          {
            "name": "onBehalfOfContentOwner",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ChannelSection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ChannelSection"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtubepartner"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtubepartner"
            ]
          }
        ]
      }
    },
    "/youtube/v3/comments": {
      "delete": {
        "description": "Deletes a resource.",
        "summary": "youtube.comments.delete",
        "tags": [
          "comments"
        ],
        "operationId": "youtube.comments.delete",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "headers": {}
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/youtube.force-ssl"
            ]
          }
        ]
      },
      "get": {
        "description": "Retrieves a list of resources, possibly filtered.",
        "summary": "youtube.comments.list",
        "tags": [
          "comments"
        ],
        "operationId": "youtube.comments.list",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "$.xgafv",
            "in": "query",
            "required": false,
            "enum": [
              "1",
              "2"
            ],
            "type": "string",
            "description": "V1 error format."
          },
          {
            "name": "access_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth access token."
          },
          {
            "name": "alt",
            "in": "query",
            "required": false,
            "enum": [
              "json",
              "media",
              "proto"
            ],
            "type": "string",
            "description": "Data format for response."
          },
          {
            "name": "callback",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "JSONP"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Selector specifying which fields to include in a partial response."
          },
          {
            "name": "key",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
          },
          {
            "name": "oauth_token",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OAuth 2.0 token for the current user."
          },
          {
            "name": "prettyPrint",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Returns response with indentations and line breaks."
          },
          {
            "name": "quotaUser",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
          },
          {
            "name": "upload_protocol",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
          },
          {
            "name": "uploadType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
          },
          {
            "name": "part",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include."
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Returns the comments with the given IDs for One Platform."
          },
          {
            "name": "maxResults",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1.0,
            "maximum": 100.0,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
          },
          {
            "name": "parentId",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future."
          },
          {
            "name": "textFormat",
            "in": "query",
            "required": false,
            "enum": [
              "textFormatUnspecified",
              "html",
              "plainText"
            ],
            "type": "string",
            "description": "The requested text format for the returned comments."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CommentListResponse"
            },
            "headers": {}
          }
        },
        "security": [
          {
[...]
